<div class="bg-white flex justify-between items-center">
    <%= link_to products_path do %>
        <h1 class="text-2xl font-bold text-teal-500">NoSeQueNombre</h1>
    <% end %>

    <div>
        <%= link_to 'Añadir producto', new_product_path, class: "mx-2 text-teal-500 font-bold" %>
        <%= link_to 'Crear cuenta', new_user_path, class: "mx-2 text-teal-500 font-bold" %>
        <%= link_to 'Categorias', categories_path, class: "mx-2 text-teal-500 font-bold" %>
    </div>
</div>